name: Continuous Integration

on:
  push:
    paths:
      - Dockerfile
      - entrypoint.sh
    branches:
      - master

jobs:
  push-to-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: elgohr/Publish-Docker-Github-Action@v4
      name: Publish to Docker
      with:
        name: innovaciongascaribe/kubectl
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        tags: latest,1.22.16
        cache: true
